In [1]:
import pandas as pd

In [3]:
def speed_loc(df,speed):
    aux=df[(df['max_advertised_download_speed']>=speed[0]) & (df['max_advertised_upload_speed']>=speed[1])]['location_id'].unique()
    return aux

In [2]:
infile='fcc_db_matched_ids_technology.csv'
df2=pd.read_csv(infile)
valid_tech_codes  = [10,40,50,71,0]
invalid_tech_codes = [60,61,70]
df2=df2[df2['technology_code'].isin(valid_tech_codes) & df2['low_latency']==1].reset_index(drop=True)
df2.drop(columns='low_latency',inplace=True)
df2.head()

,location_id,technology_code,max_advertised_download_speed,max_advertised_upload_speed
0,1010047882,71,100,20
1,1010045149,71,25,3
2,1010047903,71,100,20
3,1010059978,71,100,20
4,1010058896,71,100,20

In [6]:
#speeds=[[1000,100],[200,25],[100,20],[25,3]]
speeds=[[100,20],[25,3]]
labels=['served','underserved','unserved']

dfc=pd.DataFrame(columns=['location_id','service'])

for i in range(len(speeds)):
    a=speed_loc(df2,speeds[i])
    data={'location_id':a,'service':a.shape[0]*[labels[i]]}
    aux=pd.DataFrame(data=data)
    dfc=dfc.append(aux,ignore_index=True)
    df2=df2[~df2['location_id'].isin(a)]
    
a=df2['location_id'].unique()
data={'location_id':a,'service':a.shape[0]*['unserved']}
aux=pd.DataFrame(data=data)
dfc=dfc.append(aux,ignore_index=True)

/var/folders/rh/4xd1337512l1025llqtt0d2h0000gn/T/ipykernel_11069/4073685684.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfc=dfc.append(aux,ignore_index=True)
/var/folders/rh/4xd1337512l1025llqtt0d2h0000gn/T/ipykernel_11069/4073685684.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfc=dfc.append(aux,ignore_index=True)

In [7]:
dfc

    location_id   service
0    1018098804  unserved
1    1019783530  unserved
2    1039246047  unserved
3    1042936731  unserved
4    1043028241  unserved
..          ...       ...
534  1292179100  unserved
535  1292179102  unserved
536  1292189854  unserved
537  1305029665  unserved
538  1305072096  unserved

[539 rows x 2 columns]